@media only screen and (min-width: 37.5em) {

    main {
        grid-template-columns: 1fr 1fr;
    }
    
    h1{
        font-size: 2rem;
    }
    
    section:nth-child(3){
        grid-column: span 2;
    }
    
    }