header {
    background-color:skyblue;
    color:blue;
    align-items: center;
    display: grid;
    grid-template-columns: 210px 1fr;
}

main {
    align-items: center;
    justify-items: center;
}
footer{
    background-color:skyblue;
    text-align: center; 
}
header, main, footer {
    max-width: 630px;
    margin: 1.2rem auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.list {
    padding-left: 90px;
}

body {
    font-size: 16px;
    justify-items: center;
    align-items: center;
    margin: 5px;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}
h3{
    font-family: 'BIZ UDPGothic', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

img {
    margin: 18px;
    align-items: center;
}